{
    email contact@earthfast.com
}

{$SERVER_NAME} {
    tls {
        issuer acme {
            disable_http_challenge
            disable_tlsalpn_challenge
        }
    }

    handle {
        reverse_proxy content-node:5000 {
            header_up X-Forwarded-For {remote}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    log {
        output stdout
        format console
    }
}
