{
    email contact@earthfast.com
    auto_https disable_redirects
}

:80 {
    @localtest {
        host localhost
        host 127.0.0.1
    }
    handle @localtest {
        reverse_proxy content-node:5000
    }

    handle {
        reverse_proxy content-node:5000 {
            header_up X-Real-IP {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }
}

{$SERVER_NAME} {
    tls {
        issuer acme
    }
    
    reverse_proxy content-node:5000 {
        header_up X-Real-IP {remote}
        header_up X-Forwarded-Proto {scheme}
    }
}
