{
    admin off
    email contact@earthfast.com
}

{$SERVER_NAME} {
    @http {
        protocol http
    }
    handle @http {
        reverse_proxy content-node:5000
    }

    @https {
        protocol https
    }
    handle @https {
        reverse_proxy content-node:5000
    }

    # Logging
    log {
        output stdout
        format console
    }
}
