# for a list of available config options, see
# https://docs.armadanetwork.com/armada-network-docs/node-operators/content-node-setup#step-5-configure-and-run-the-content-node-container

# required
SERVER_NAME=
RPC_URL=
NODE_ID=
CONTRACT_ADDRESS=


# optional
DATABASE_DIR=/db_data
HOSTING_CACHE_DIR=/hosting_cache
HTTP_PORT=30080