# for a list of available config options, see
# https://docs.earthfast.com/node-operators/content-node-setup#step-5-configure-and-run-the-content-node-container

# you must change these
SERVER_NAME=content1.us-central1-a.testnet-sepolia.<my-domain>.com
RPC_URL=https://eth-sepolia.g.alchemy.com/v2/<rpc-id>
NODE_ID=0xNodeId
CONTRACT_ADDRESS=0x172CEb125F6C86B7920fD391407aca0B5F416648 for `testnet-sepolia` or 0xD2362B76f79a0AbeF38E961a28E452683691890C for `testnet-sepolia-staging`


# these are the defaults, it's not recommended to change these
DATABASE_DIR=/db_data
HOSTING_CACHE_DIR=/hosting_cache
HTTP_PORT=30080
SETUP_SSL=true