# for more information about these fields check out the docs
# https://docs.armadanetwork.com/armada-network-docs/node-operators/domain-node-setup#step-2-configure-the-domain-node

DOMAIN_NODE_URL=
ETH_RPC_ENDPOINT=
IP_LOOKUP_API_KEY=
DOMAIN_TO_PROJECT_MAPPING=
CONTRACT_ADDRESS=

# optional
SETUP_SSL=true
START_CONTAINER=true