# for more information about these fields check out the docs
# https://docs.earthfast.com/node-operators/domain-node-setup#part-2-adding-new-project-s-to-domain-node

DOMAIN_NODE_URL=
ETH_RPC_ENDPOINT=
IP_LOOKUP_API_KEY=
DOMAIN_TO_PROJECT_MAPPING=
CONTRACT_ADDRESS=

# these are the defaults, it's not recommended to change these
SETUP_SSL=true
START_CONTAINER=true